*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
body{
   background: #081b29;
    color: #ededed;
}
.header{
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
   
   
}
.header.sticky{
    background: #081b29;
    
}
.logo{
    position: relative;
    font-size: 2.5rem;
    color: #ededed;
    
    font-weight: 600;

}

.navbar{
    position: relative;
}
.navbar a{
    font-size: 1.7rem;
    color: #ededed;
    font-weight: 500;
    margin-left: 3.5rem;
    text-decoration: none;
    transition: .3s;
}
.navbar a:hover,
  .navbar a.active {
      color: #00abf0;
}
#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: #ededed;
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.Home{
    background: url(bearded-black-man-wearing-suit-felt-hat.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 9%; 
    display: flex;
}
.home-content {

    
   
    font-size: 5.6rem;
   
    
    max-width: 600px;
}
.home-content h2 span {
    color: white;
}
.home-content h2{
    position: relative;
    display: inline-block;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;


}
.home-content .text-animation{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animation h3{
    font-size: 32px ;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #00abf0 ;
    background-image: linear-gradient(#00abf0 ,#00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -10rem 0 ;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animation h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid  #00abf0;
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;

}

s
.home-content h4{
    font-size: 16px;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;


}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   

}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration:none ;
    font-weight: 600;
    letter-spacing: 1px;



}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(1){
    background: transparent;
    color: #00abf0;

}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;



}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #112e42;
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: #00abf0;
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.7rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns {
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before{
    background: #00abf0 ;

}
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    font-size: 1.7rem;
    margin: 2rem 0 3rem;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.project-container .project-card{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
}
.project-container .project-card h3{
    font-size: 2rem;
}
.project-container .project-card p{
    font-size: 1.6rem;
    padding-top: .5rem;
}
.skill {
    margin-bottom: 35px;
}

.progress {
    background: white;

    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 1.5s;
}
.skill{
    position: relative;
    border: .2rem solid #00abf0;
    padding: 2rem 0 ; 
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 0 0 1.5rem;

}
.skill .skill-tittle{
    padding: 1rem 0;
}
.skill-tittle h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    width: 290px;
    padding: 10px 15px;

}
.progress h3 span{
    color: #00abf0;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;

}
.contact form {
    max-width: 70rem;
    margin:  0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
    
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #00abf0;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
    
}
.textarea-field .focus .btn{
    font-size: 35px;
    border-radius: 10px;
    background: black;

}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #00abf0;


}
.footer-text p {
    font-size: 1.6rem;
}

/*animation reload and scrol */
.animate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    z-index: 98;
}

.logo  .animate,
.navbar .animate,
#menu-icon .animate,
.Home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i) );
}


/* breakpoints*/
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}

@media (max-width: 768px){
    .header{
        background: #081b29;
    }

     #menu-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #00abf0;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;

    }
    .navbar.active{
        transition-delay: 0s;
        left: 0;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #081b29;
        border-top: .1rem solid rgba(0,0,0,0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;

    }

    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a{
        transform: translate(0);
        transition-delay: .25s;

      }


}

@media(max-width: 520px){
    html {
        font-size: 50%;
    }
    .home-content h2{
        display: flex;
        flex-direction: column;
    }
    .home-sci {
        width: 160px;
    }
    .home-sci a{
        width: 38px;
        height: 38px;
    }
}

@media(max-width: 452px){
    .home-content h2 {
        font-size: 5.2rem;
    }
}
.project-card{
    padding: 10rem 4% 5rem 5%;
}

.contact form .input-box .input-field{
    width: 100%;
}
.footer{
    flex-direction: column-reverse;
}
.footer p{
    .home {
        justify-content: center;
        text-align: center;
    }
}

@media(max-width: 371px){
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h2 {
        font-size: 5rem;
    }
}

/* keyframe animation */
@keyframes homeBgText {
    0%,10%,100%{
        background-position: -33rem 0;
    }

    65%,85%{
        background-position: 0 0;
    }
}



@keyframes showRight {
    100%{
        width: 0;
    }
}

 

 
